@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #F72585;
  --color-secondary: #FFD6E7;
  --color-accent: #111111;
  --color-highlight: #FF5FA2;
  --color-surface: #FFF6FA;
  --color-background: #F3EFF2;
  --color-texto: #111111;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--color-surface);
  color: var(--color-texto);
}
